<% include partials/header %>


		<main role="main">
			<!-- start section -->
			<section class="section section--no-pt section--no-pb">
				<div class="container-fluid">
					<div class="products--style-2">
						<div class="products__inner">
							<div class="row row-no-gutter">
								<div class="col-xs-12 col-md-6 col-lg-4">
									<div class="product__item">
										<figure>
											<!--<img src="../img/blank.gif" style="background-image: url('../img/gall_img/2_col/6.jpg');" alt="demo" />-->
											<img src="../img/blank.gif" style="background-image: url('../img/gall_img/2_col/marabel.jpg');" alt="demo" />
										</figure>

										<div class="product__item__description">
											<div class="product__item__description__inner">
												<!--<h2 class="product__item__title">sweet<br />Grape</h2>-->
												<h2 class="product__item__title">Marabel<br /></h2>

												Works discount secure
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-md-6 col-lg-4">
									<div class="product__item">
										<figure>
											<!--<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/15.jpg');" alt="demo">-->
											<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/nicola.jpg');" alt="demo">
										</figure>

										<div class="product__item__description">
											<div class="product__item__description__inner">
												<!--<h2 class="product__item__title">Juicy<br />cherry</h2>-->
												<h2 class="product__item__title">Nicola<br /></h2>

												First superior full-bodied drink
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-md-6 col-lg-4">
									<div class="product__item">
										<figure>
											<!--<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/10.jpg');" alt="demo">-->
											<img src="../img/blank.gif" style="background-image: url('../img/gall_img/4_col/diamant.jpg');" alt="demo">
										</figure>

										<div class="product__item__description">
											<div class="product__item__description__inner">
												<!--<h2 class="product__item__title">Beautiful<br />Strawberry</h2>-->
												<h2 class="product__item__title">Diamant<br /></h2>

												Odor to yummy high racy bonus soaking
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<a id="spy-services" class="ancor"></a>
			<section class="section section--screen  section-services">
				<div class="container">
					<div class="row">
						<div class="col-xl-4">
							<div class="col-MB-30">
								<h2>Vicampro Outgrower<br />Services</h2>

								<h4>Smells racy free announcing than durable zesty smart exotic far feel. </h4>

								<p>
									Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. 
								</p>
							</div>
						</div>

						<div class="col-xl-8">
							<div class="feature feature--style-3">
								<div class="feature__inner">
									<div class="row flex-items-xs-between">
										<!-- start item -->
										<div class="col-xs-12 col-sm-6 col-lg-3">
											<div class="feature__item">
												<i class="feature__item__ico feature__item__ico--1"></i>

												<h3 class="feature__item__title  h4">Agriculture Products</h3>

												<p>
													Evulates vast a real proven works discount secure care. 
												</p>

												<p>
													<a class="custom-btn primary" href="#">See more</a>
												</p>
											</div>
										</div>
										<!-- end item -->

										<!-- start item -->
										<div class="col-xs-12 col-sm-6 col-lg-3">
											<div class="feature__item">
												<i class="feature__item__ico feature__item__ico--2"></i>

												<h3 class="feature__item__title  h4">Fresh Vegatables</h3>

												<p>
													Natural our comes for sold tired value survey brighter genuine brings smells
												</p>

												<p>
													<a class="custom-btn primary" href="#">See more</a>
												</p>
											</div>
										</div>
										<!-- end item -->

										<!-- start item -->
										<div class="col-xs-12 col-sm-6 col-lg-3">
											<div class="feature__item">
												<i class="feature__item__ico feature__item__ico--3"></i>

												<h3 class="feature__item__title  h4">Different Livestock</h3>

												<p>
													Plus extravaganza delectable chosen yummy can't better fresh worthwhile will
												</p>

												<p>
													<a class="custom-btn primary" href="#">See more</a>
												</p>
											</div>
										</div>
										<!-- end item -->

										<!-- start item -->
										<div class="col-xs-12 col-sm-6 col-lg-3">
											<div class="feature__item">
												<i class="feature__item__ico feature__item__ico--4"></i>

												<h3 class="feature__item__title  h4">Farm Factory</h3>

												<p>
													Citrus stimulates ultimate unlimited energy very genuine spacious silky savor 
												</p>

												<p>
													<a class="custom-btn primary" href="#">See more</a>
												</p>
											</div>
										</div>
										<!-- end item -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<a id="spy-about" class="ancor"></a>
			<section class="section section--screen section--background  section-about  parallax" 
				data-stellar-background-ratio="0.5" 
				data-stellar-vertical-offset="300" 
				data-stellar-offset-parent="true" 
				style="background-image: url(../img/vic2.jpg);">

 				<div class="pattern" style="opacity: .5"></div>

				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="col-MB-30">
								<h2 class="section-about__title">Interesting Story about Vicampro</h2>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="col-MB-15">
								<div class="col-MB-30">
									<h4>Smells racy free announcing than durable zesty smart exotic far feel. Screamin' affordable secret way absolutely.</h4>
								</div>

								<p>
									Stimulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. 
								</p>

								<p>
									Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. Odor to yummy high racy bonus soaking mouthwatering. First superior 
								</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="col-MB-15">
								<p>
									Sale thirsty colossal humongous look splash cool. Does our calories anti win classic ultimate remarkable kids flexible. Every fun generous flip stimulates quick available dry try. Durable messy and and monster goodness sparkling youthful seasoned double soaking look. Big luscious sporty mega leading full guaranteed plush outstanding dazzling.
								</p>

								<p>
									Luscious classic soaking happy kids this buy chocolatey spectacular does get effervescent. Traditional absolutely tighter ultimate appreciate comfort plush full-bodied by quality keen. Finest appearance aromatic 
								</p>
							</div>
						</div>

						<div class="col-xs-12">
							<p>&nbsp;</p>
							<p>
								<a class="custom-btn primary big" href="#">Find out more</a>
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section" style="background-color: #f1cf69;">
				<div class="container">
					<div class="section-heading section-heading--center section-heading--white">
						<h2 class="title">What People Says</h2>
					</div>

					<div class="row flex-items-md-center">
						<div class="col-lg-10">
							<div class="feedbacks feedbacks--slider feedbacks--style-1">
								<div class="owl-carousel owl-theme">
									<!-- start item -->
									<article class="feedback__item">
										<div class="feedback__author">
											<div class="feedback__author__photo  mx-auto">
												<img class="circled  img-fluid" src="../img/users_photos/4.png" height="140" width="140" alt="demo" />
											</div>

											<h4 class="feedback__author__name">Alex Roberts</h4>

											<p class="feedback__author__position">Farmer, AgroHolding</p>
										</div>

										<div class="feedback__text">
											<p>
												“Absorbent lower warranty smart deluxe lasting sporty fast customer spring rated. Free every challenge your spicey racy. Introducing handcrafted credit-card like supreme monster just hurry fresh outlasts flip quality. 
											</p>
										</div>
									</article>
									<!-- end item -->

									<!-- start item -->
									<article class="feedback__item">
										<div class="feedback__author">
											<div class="feedback__author__photo  mx-auto">
												<img class="circled  img-fluid" src="../img/users_photos/4.png" height="140" width="140" alt="demo" />
											</div>

											<h4 class="feedback__author__name">Alex Roberts</h4>

											<p class="feedback__author__position">Farmer, AgroHolding</p>
										</div>

										<div class="feedback__text">
											<p>
												“Absorbent lower warranty smart deluxe lasting sporty fast customer spring rated. Free every challenge your spicey racy. Introducing handcrafted credit-card like supreme monster just hurry fresh outlasts flip quality. Value far mouthwatering wherever try offer ultra aroma
											</p>
										</div>
									</article>
									<!-- end item -->

									<!-- start item -->
									<article class="feedback__item">
										<div class="feedback__author">
											<div class="feedback__author__photo  mx-auto">
												<img class="circled  img-fluid" src="../img/users_photos/4.png" height="140" width="140" alt="demo" />
											</div>

											<h4 class="feedback__author__name">Alex Roberts</h4>

											<p class="feedback__author__position">Farmer, AgroHolding</p>
										</div>

										<div class="feedback__text">
											<p>
												“Absorbent lower warranty smart deluxe lasting sporty fast customer spring rated. Free every challenge your spicey racy. Introducing handcrafted credit-card like supreme monster just hurry fresh outlasts flip quality. Value far mouthwatering wherever try offer ultra aroma Introducing handcrafted credit-card like supreme monster
											</p>
										</div>
									</article>
									<!-- end item -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<a id="spy-progress" class="ancor"></a>
			<section class="section section--screen section--background-base-light section--background-logo">
				<div class="container">
					<div class="section-heading section-heading--left">
						<h2 class="title">Vicampro Outgrower Progress</h2>
					</div>

					<div class="counters counters--style-2">
						<div class="counters__inner">
							<div class="row">
								<!-- star item -->
								<div class="col-md-6 col-xl-3">
									<div class="counter__item">
										<i class="counter__item__ico counter__item__ico--1"></i>

										<p class="counter__item__count  js-count" data-from="0" data-to="600" data-after="k">600</p>

										<p class="counter__item__title">tonnes of fruits assembled</p>
									</div>
								</div>
								<!-- end item -->

								<!-- star item -->
								<div class="col-md-6 col-xl-3">
									<div class="counter__item">
										<i class="counter__item__ico counter__item__ico--2"></i>

										<p class="counter__item__count  js-count" data-from="0" data-to="50" data-after="k">50</p>

										<p class="counter__item__title">hectare of production</p>
									</div>
								</div>
								<!-- end item -->

								<!-- star item -->
								<div class="col-md-6 col-xl-3">
									<div class="counter__item">
										<i class="counter__item__ico counter__item__ico--3"></i>

										<p class="counter__item__count  js-count" data-from="0" data-to="250">250</p>

										<p class="counter__item__title">units of equipment</p>
									</div>
								</div>
								<!-- end item -->

								<!-- star item -->
								<div class="col-md-6 col-xl-3">
									<div class="counter__item">
										<i class="counter__item__ico counter__item__ico--4"></i>

										<p class="counter__item__count  js-count" data-from="0" data-to="300" data-after="k">300</p>

										<p class="counter__item__title">tons of fresh vegatables</p>
									</div>
								</div>
								<!-- end item -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<!--<a id="spy-offer" class="ancor"></a>-->
			<!--<section class="section section--screen section--background section-banner" style="background-image: url(../img/home_img/potatoProducts.jpg);">-->
			<!--	<div class="container">-->
			<!--		<div class="row">-->
			<!--			<div class="col-lg-8 col-xl-6">-->
			<!--				<div class="col-MB-30">-->
			<!--					<h2 class="section-banner__title">Product Ideas</h2>-->

			<!--					<h4>Vinyl grown remarkable in survey wherever parents are it's. Mega bold action. Sold care wherever less appetizing your far easily</h4>-->
			<!--				</div>-->

			<!--				<p>-->
			<!--					<a class="custom-btn primary big" href="#">Discover</a>-->
			<!--				</p>-->
			<!--			</div>-->
			<!--		</div>-->
			<!--	</div>-->
			<!--</section>-->
			<!-- end section -->
			
			<!--Gallery section-->
			<!-- start section -->
			<!--<a id="spy-gallery" class="ancor"></a>-->
			<!--<section class="section  section--no-pt section--no-pb  section-gallery">-->
				<!-- start item -->
			<!--	<div class="item" style="background-image: url(../img/gall_img/2_col/marabel.jpg);">-->
			<!--		<div class="container">-->
			<!--			<div class="row">-->
			<!--				<div class="col-xs-12">-->
			<!--					<h2 class="item__title">Marabel</h2>-->
			<!--				</div>-->
			<!--			</div>-->
			<!--		</div>-->
			<!--	</div>-->
				<!-- end item -->

				<!-- start item -->
			<!--	<div class="item" style="background-image: url(../img/gall_img/4_col/nicola.jpg);">-->
			<!--		<div class="container">-->
			<!--			<div class="row">-->
			<!--				<div class="col-xs-12">-->
			<!--					<h2 class="item__title">Nicola</h2>-->
			<!--				</div>-->
			<!--			</div>-->
			<!--		</div>-->
			<!--	</div>-->
				<!-- end item -->

				<!-- start item -->
			<!--	<div class="item" style="background-image: url(../img/gall_img/4_col/diamant.jpg);">-->
			<!--		<div class="container">-->
			<!--			<div class="row">-->
			<!--				<div class="col-xs-12">-->
			<!--					<h2 class="item__title">Diamant</h2>-->
			<!--				</div>-->
			<!--			</div>-->
			<!--		</div>-->
			<!--	</div>-->
				<!-- end item -->

				<!-- start item -->
			<!--	<div class="item" style="background-image: url(../img/gall_img/washed.jpg);">-->
			<!--		<div class="container">-->
			<!--			<div class="row">-->
			<!--				<div class="col-xs-12">-->
			<!--					<h2 class="item__title">Fresh Potato</h2>-->
			<!--				</div>-->
			<!--			</div>-->
			<!--		</div>-->
			<!--	</div>-->
				<!-- end item -->
			<!--</section>-->
			<!-- end section -->

			<!-- start section -->
			<a id="spy-blog" class="ancor"></a>
			<section class="section" style="background-color: #fafafa;">
				<div class="container">
					<div class="section-heading section-heading--left">
						<h2 class="title">Blog Posts</h2>
					</div>

					<div class="blog blog--style-3">
						<div class="blog__inner">
							<div class="row row-no-gutter">
								<!-- start item -->
								<div class="col-md-6 col-lg-4">
									<div class="blog__item">
										<figure>
											<img src="../img/blank.gif" style="background-image: url('../img/blog_img/3.jpg');" alt="demo">
										</figure>

										<div class="blog__entry">
											<span class="blog__entry__meta">Jul 19, 2016  /  4 Comments</span>

											<h3 class="blog__entry__title  h4"><a href="blog_post.html">Waxy latest also drink</a></h3>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-md-6 col-lg-4">
									<div class="blog__item">
										<figure>
											<img src="../img/blank.gif" style="background-image: url('../img/blog_img/5.jpg');" alt="demo">
										</figure>

										<div class="blog__entry">
											<span class="blog__entry__meta">Jul 19, 2016  /  4 Comments</span>

											<h3 class="blog__entry__title  h4"><a href="blog_post.html">Agriculture Products</a></h3>
										</div>
									</div>
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-md-6 col-lg-4">
									<div class="blog__item">
										<figure>
											<img src="../img/blank.gif" style="background-image: url('../img/blog_img/6.jpg');" alt="demo">
										</figure>

										<div class="blog__entry">
											<span class="blog__entry__meta">Jul 19, 2016  /  4 Comments</span>

											<h3 class="blog__entry__title  h4"><a href="blog_post.html">Fruits on Nutrition</a></h3>
										</div>
									</div>
								</div>
								<!-- end item -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section">
				<div class="container">
					<div class="partners">
						<div class="partners__inner">
							<div class="row">
								<!-- start item -->
								<div class="col-xs-6 col-sm-4 col-lg-2">
									<img class="img-fluid" src="../img/partners_img/1.jpg" alt="demo" />
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-6 col-sm-4 col-lg-2">
									<img class="img-fluid" src="../img/partners_img/2.jpg" alt="demo" />
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-6 col-sm-4 col-lg-2">
									<img class="img-fluid" src="../img/partners_img/3.jpg" alt="demo" />
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-6 col-sm-4 col-lg-2">
									<img class="img-fluid" src="../img/partners_img/4.jpg" alt="demo" />
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-6 col-sm-4 col-lg-2">
									<img class="img-fluid" src="../img/partners_img/5.jpg" alt="demo" />
								</div>
								<!-- end item -->

								<!-- start item -->
								<div class="col-xs-6 col-sm-4 col-lg-2">
									<img class="img-fluid" src="../img/partners_img/6.jpg" alt="demo" />
								</div>
								<!-- end item -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<a id="spy-get-in-touch" class="ancor"></a>
			<section class="section-contact">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="item map-container">
								<div class="g_map" data-longitude="44.958309" data-latitude="34.109925" data-marker="../img/marker.png"></div>
							</div>
						</div>

						<div class="col-xs-12 col-md-6 bg-2">
							<div class="item">
								<header class="item__header">
									<h2 class="item__title">Get In Touch</h2>

									<p class="item__subtitle">Vinyl grown remarkable in survey wherever parents are it's. Mega bold action. Sold care</p>
								</header>

								<form class="f1" action="#">
									<label class="input-wrp">
										<i class="fontello-user"></i>
										<input class="textfield" type="text" placeholder="You name" />
									</label>

									<label class="input-wrp">
										<i class="fontello-mail"></i>
										<input class="textfield" type="text" placeholder="E-mail" />
									</label>

									<label class="input-wrp">
										<i class="fontello-comment"></i>
										<textarea class="textfield" placeholder="Comment"></textarea>
									</label>

									<div class="btn-wrp">
										<button class="custom-btn long" type="submit" role="button">Send a message</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->
		</main>

<% include partials/footer %>