<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="keywords" content="css framework, css, css3, flexbox, grid, stylus, postcss, html, ui, ui kit">
    <meta name="description">
    <meta name="copyright" content="Mohamed Abdrabo. All rights reserved">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Mohamed Abdrabo, hello@codeguru.io">
    <meta name="designer" content="Mohamed Abdrabo">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/favicons/apple-touch-icon.f79852b98855ff68.png">
    <link rel="icon" type="image/png" href="/resources/favicons/favicon-32x32.142c89dfd765caac.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/resources/favicons/favicon-16x16.5db2390dc7696f7f.png" sizes="16x16">
    <link rel="manifest" href="/resources/favicons/manifest.4d503553bd7d04f4.json">
    <link rel="mask-icon" href="/resources/favicons/safari-pinned-tab.ea02f1516c9ae8ab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/resources/favicons/favicon.accc8740825d08d9.ico">
    <meta name="msapplication-config" content="/resources/favicons/browserconfig.ed5f1da44413f128.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.dash.css">
    <style></style>
</head>

<body>
    <div class="o-block u-text-center u-fullscreen u-overflow-auto u-bg-muted">
        <div class="o-block__cell u-flex u-flexGrow-1 u-mb-medium u-p-big">
            <div class="u-m-auto">
                <div class="c-formCard o-block u-collapse u-bg-light u-shadow-medium u-p-medium u-pt-none _u-width-100p _u-mb-small">
                    <div class="o-block__cell"><span class="c-formCard__icon c-button c-button c-button--big c-button--icon u-radius-circle u-font-huge">lock_open</span></div>
                    <div class="o-block__cell">
                        <h2 class="u-font-regular">Login</h2></div>
                    <div class="o-block__cell">
                        <div class="c-control u-width-100p">
                            <div class="c-control__input-box">
                                <input class="c-control__input" type="email" name="search" value="" placeholder="Your Email">
                            </div><span class="c-icon c-icon--main">email</span></div>
                    </div>
                    <div class="o-block__cell">
                        <div class="c-control u-width-100p">
                            <div class="c-control__input-box">
                                <input class="c-control__input" type="password" name="search" value="" placeholder="Password">
                            </div><span class="c-icon c-icon--main">lock</span></div>
                    </div>
                    <div class="o-block__cell"><a class="c-button c-button--block" href="#">Login</a></div>
                    <div class="o-block__cell"><a class="c-button c-button--secondary c-button--block" href="#">Create Account</a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/scripts/libs/jquery-1.12.4.min.4f252523d4af0b47.js" type="text/javascript"></script>
    <script src="js/scripts/libs/masonry.pkgd.min.87b3b35237efbbe1.js" type="text/javascript"></script>
    <script src="js/scripts/libs/jquery-ui.min.e29c9fdd19bfe50c.js" type="text/javascript"></script>
    <script src="js/scripts/libs/moment.min.aeb7908241d9f6d5.js" type="text/javascript"></script>
    <script src="js/scripts/libs/fullcalendar.min.342509169da301ea.js" type="text/javascript"></script>
    <script src="js/scripts/libs/isMobile.min.c1c533a6dd578790.js" type="text/javascript"></script>
    <script src="js/scripts/libs/ion.rangeSlider.min.37f06b383b2f17f0.js" type="text/javascript"></script>
    <script src="js/scripts/libs/perfect-scrollbar.jquery.min.54c49b7379376922.js" type="text/javascript"></script>
    <script src="js/scripts/libs/autosize.min.bd5ce81bfb5b4f3e.js" type="text/javascript"></script>
    <script src="js/scripts/libs/sticky-kit.min.894bf69a88c84066.js" type="text/javascript"></script>
    <script src="js/scripts/libs/toggles-switches.c912cd0bc4005a07.js" type="text/javascript"></script>
    <script src="js/scripts/libs/jquery.dataTables.min.ca79d49bcaea1e0c.js" type="text/javascript"></script>
    <script src="js/scripts/libs/wysihtml5/wysihtml5.rules.1806a80ca878cf8a.js" type="text/javascript"></script>
    <script src="js/scripts/libs/wysihtml5/wysihtml5-0.4.0pre.min.828cdf535107710e.js" type="text/javascript"></script>
    <script src="js/scripts/libs/jqvmap/jquery.vmap.min.935f68d33bdd88a1.js" type="text/javascript"></script>
    <script src="js/scripts/libs/jqvmap/maps/jquery.vmap.world.16677403c0e1bef1.js" type="text/javascript"></script>
    <script src="js/scripts/libs/jqvmap/maps/jquery.vmap.usa.43e330fe0440c723.js" type="text/javascript"></script>
    <script src="js/scripts/libs/jqvmap/maps/jquery.vmap.canada.438c6f7d061ab20f.js" type="text/javascript"></script>
    <script src="js/scripts/libs/jqvmap/maps/jquery.vmap.sampledata.b6f14a696445b519.js" type="text/javascript"></script>
    <script src="js/scripts/libs/jqvmap/maps/continents/jquery.vmap.australia.dcdfcdac23fe1729.js" type="text/javascript"></script>
    <script src="js/scripts/libs/jqvmap/maps/continents/jquery.vmap.europe.70d3cc99f63d847c.js" type="text/javascript"></script>
    <script src="js/scripts/libs/flot/jquery.flot.min.9927ea93540a2a08.js" type="text/javascript"></script>
    <script src="js/scripts/libs/flot/jquery.flot.pie.62dbbef98865feaa.js" type="text/javascript"></script>
    <script src="js/scripts/libs/flot/jquery.flot.tooltip.min.2bc32ffb5cf72e7d.js" type="text/javascript"></script>
    <script src="js/scripts/libs/flot/jquery.flot.tickrotor.88218236f6b9b70c.js" type="text/javascript"></script>
    <script src="js/scripts/libs/flot/jquery.flot.orderBars.d1ad537971cf3984.js" type="text/javascript"></script>
    <script src="js/scripts/libs/flot/jquery.flot.spline.min.5a38df175a0458fc.js" type="text/javascript"></script>
    <script src="js/scripts/libs/jquery.easypiechart.min.eac43429f465cc28.js" type="text/javascript"></script>
    <script src="js/scripts/libs/jquery.sparkline.retina.720815b414e27c80.js" type="text/javascript"></script>
    <script src="js/scripts/script.min.be5821ba22b68c77.js"></script>
</body>

</html>
